<!-- Tab Content -->
<div class="m-4 mt-0">
  <!-- Account -->
  <div class="mb-3">
    <!-- Title -->
    <div class="d-flex align-items-center mx-4 mb-3">
      <small class="text-muted me-auto">Tài khoản</small>
    </div>
    <!-- Title -->
    <!-- Accordion -->
    <div class="card">
      <div class="card-body">
        <div class="accordion accordion-flush" id="accordion-account-settings">
          <div class="accordion-item">
            <div class="accordion-header" id="account-heading-1">
              <div class="accordion-button collapsed p-0" role="button" data-bs-toggle="collapse"
                data-bs-target="#account-collapse-1" aria-expanded="false" aria-controls="account-collapse-1">
                <div>
                  <h5 class="mb-1">Thông tin cá nhân</h5>
                </div>
              </div>
            </div>
            <div id="account-collapse-1" class="accordion-collapse collapse" aria-labelledby="account-heading-1">
              <div class="accordion-body p-0 pb-4">
                <!-- Name Input -->
                <div class="mb-4">
                  <div class="input-group">
                    <input type="text" 
                          class="form-control form-control-lg form-control-solid" 
                          placeholder="Họ và tên"
                          value="{{ currentUser.fullName }}">
                  </div>
                </div>
                <!-- Name Input -->
                <!-- Email Input -->
                <div class="mb-4">
                  <div class="input-group">
                    <input type="text" 
                          class="form-control form-control-lg form-control-solid" 
                          placeholder="Email"
                          value="{{ currentUser.email }}" disabled>
                  </div>
                </div>
                <!-- Email Input -->
                <!-- Phone Input -->
                <div class="mb-4">
                  <div class="input-group">
                    <input type="text" 
                          class="form-control form-control-lg form-control-solid"
                          placeholder="Số điện thoại"
                          value="{{ currentUser.phoneNumber }}">
                  </div>
                </div>
                <!-- Phone Input -->
                <!-- Button -->
                <button class="btn btn-lg btn-primary w-100">Cập nhật</button>
                <!-- Button -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Accordion -->
  </div>
  <!-- Account -->
  <!-- Security -->
  <div class="mb-3">
    <!-- Title -->
    <div class="d-flex align-items-center mx-4 mb-3">
      <small class="text-muted me-auto">Bảo mật</small>
    </div>
    <!-- Title -->
    <!-- Accordion -->
    <div class="card">
      <div class="card-body">
        <div class="accordion accordion-flush" id="accordion-security-settings">
          <div class="accordion-item">
            <div class="accordion-header" id="security-heading-1">
              <div class="accordion-button collapsed p-0 pb-4" role="button" data-bs-toggle="collapse"
                data-bs-target="#security-collapse-1" aria-expanded="false" aria-controls="security-collapse-1">
                <div>
                  <h5 class="mb-1">Đổi mật khẩu</h5>
                </div>
              </div>
            </div>
            <div id="security-collapse-1" class="accordion-collapse collapse" aria-labelledby="security-heading-1">
              <div class="accordion-body p-0 pb-4">
                <!-- Current password -->
                <div class="mb-4">
                  <div class="input-group">
                    <input type="password"
                           class="form-control form-control-lg form-control-solid"
                           placeholder="Mật khẩu hiện tại">
                  </div>
                </div>
                <!-- Current password -->
                <!-- New password -->
                <div class="mb-4">
                  <div class="input-group">
                    <input type="password"
                           class="form-control form-control-lg form-control-solid"
                           placeholder="Mật khẩu mới">
                  </div>
                </div>
                <!-- New password -->
                <!-- Confirm password -->
                <div class="mb-4">
                  <div class="input-group">
                    <input type="password"
                           class="form-control form-control-lg form-control-solid"
                           placeholder="Xác nhận mật khẩu">
                  </div>
                </div>
                <!-- Confirm password -->
                <!-- Button -->
                <button class="btn btn-lg btn-primary w-100">Cập nhật</button>
                <!-- Button -->
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <div class="accordion-header">
              <div class="row align-items-center mt-4">
                <div class="col">
                  <h5 class="mb-1">Xác thực 2 yếu tố</h5>
                  <p class="text-muted mb-0">Bật tính năng xác thực 2 yếu tố</p>
                </div>
                <div class="col-auto">
                  <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" id="switch-authentication" checked>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Accordion -->
  </div>
  <!-- Security -->
</div>
<!-- Tab Content -->
