<div class="chat d-flex flex-row h-100">
  <!-- Chat -->
  <div class="chat-body h-100 w-100 d-flex flex-column">
    <!-- Chat Header -->
    <div class="chat-header d-flex align-items-center border-bottom px-2">
      <div class="container-fluid">
        <div class="row align-items-center g-0">
          <div class="col-8 col-sm-5">
            <div class="d-flex align-items-center">
              <!-- Close Chat Button -->
              <div class="d-block d-xl-none me-3">
                <button id="btnHideChat" class="chat-hide btn btn-icon btn-base btn-sm" type="button">
                  <i class="ri-arrow-left-s-line"></i>
                </button>
              </div>
              <!-- Close Chat Button -->
              <!-- Avatar -->
              <div class="avatar avatar-sm me-3">
                <span class="avatar-label bg-primary text-white fs-6">G</span>
              </div>
              <!-- Avatar -->
              <!-- Text -->
              <div class="flex-grow-1 overflow-hidden">
                <h6 class="d-block text-truncate mb-1">{{ inputConv.displayName }}</h6>
                <p class="d-block text-truncate text-muted fs-6 mb-0">5 online &ndash; Communication on any subject.</p>
              </div>
              <!-- Text -->
            </div>
          </div>

          <div class="col-4 col-sm-7">
            <ul class="list-inline text-end mb-0">
              <!-- Search Button -->
              <li class="list-inline-item d-none d-sm-inline-block">
                <button class="btn btn-icon btn-base" type="button" title="Search" data-bs-toggle="collapse"
                  data-bs-target="#search-chat" aria-expanded="false">
                  <i class="ri-search-line"></i>
                </button>
              </li>
              <!-- Search Button -->
              <!-- Chat Info Button -->
              <li class="list-inline-item d-none d-sm-inline-block">
                <button class="chat-info-toggle btn btn-icon btn-base" title="Chat info" type="button">
                  <i class="ri-user-3-line"></i>
                </button>
              </li>
              <!-- Chat Info Button -->
              <!-- Dropdown -->
              <li class="list-inline-item">
                <div class="dropdown">
                  <button class="btn btn-icon btn-base" type="button" title="Menu" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <i class="ri-more-fill"></i>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li class="d-block d-sm-none">
                      <a class="dropdown-item d-flex align-items-center justify-content-between" href="#"
                        data-bs-toggle="collapse" data-bs-target="#search-chat" aria-expanded="false">
                        Search
                        <i class="ri-search-line"></i>
                      </a>
                    </li>
                    <li class="d-block d-sm-none">
                      <a class="chat-info-toggle dropdown-item d-flex align-items-center justify-content-between"
                        href="#">
                        Chat Info
                        <i class="ri-information-line"></i>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                        Archive
                        <i class="ri-archive-line"></i>
                      </a>
                    </li>
                    <li>
                      <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                        Mute
                        <i class="ri-volume-mute-line"></i>
                      </a>
                    </li>
                    <li>
                      <div class="dropdown-divider"></div>
                    </li>
                    <li>
                      <a class="dropdown-item d-flex align-items-center justify-content-between" href="#">
                        Block
                        <i class="ri-forbid-line"></i>
                      </a>
                    </li>
                  </ul>
                </div>
              </li>
              <!-- Dropdown -->
            </ul>
          </div>
        </div>
      </div>
    </div>
    <!-- Chat Header -->
    <!-- Chat Search -->
    <div>
      <div class="border-bottom collapse" id="search-chat">
        <div class="px-1 py-4">
          <div class="container-fluid">
            <div class="row">
              <div class="col">
                <div class="input-group">
                  <input type="text" class="form-control form-control-lg" placeholder="Search in chat"
                    aria-label="Search in chat" aria-describedby="search-in-chat-button">
                  <button class="btn btn-white btn-lg border" type="button" id="search-in-chat-button"><i
                      class="ri-search-line"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Chat Search -->
    <!-- Chat Content -->
    <div #scrollframe infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollUpDistance]="1.5"
      [infiniteScrollThrottle]="50" (scrolledUp)="onScrollUp()" [scrollWindow]="false"
      class="chat-content hide-scrollbar h-100">
      <div class="container-fluid g-0 p-4">
        <!-- Messages -->
        <div *ngFor="let item of conversation.lsMessage let index = index" #item>
          <!-- Message item -->
          <div *ngIf="index === 0; else notFirstItem">
            <div *ngIf="isToday(item.createdDate); else elseBlock">
              <div class="separator">
                <span class="separator-title fs-7 ls-1">Hôm nay</span>
              </div>
            </div>
            <ng-template #elseBlock>
              <div class="separator">
                <span class="separator-title fs-7 ls-1">{{ item.createdDate | date: 'dd/MM/yyyy'}}</span>
              </div>
            </ng-template>
          </div>
          <ng-template #notFirstItem>
            <div *ngIf="!compareDate(item.createdDate, conversation.lsMessage[index-1].createdDate)
                      && isToday(item.createdDate)" class="separator">
              <span class="separator-title fs-7 ls-1">Hôm nay</span>
            </div>
            <div *ngIf="!compareDate(item.createdDate, conversation.lsMessage[index-1].createdDate)
                      && !isToday(item.createdDate)" class="separator">
              <span class="separator-title fs-7 ls-1">{{ item.createdDate | date: 'dd/MM/yyyy'}}</span>
            </div>
          </ng-template>
          <div *ngIf="item.groupId === 0">
            <div [ngClass]="{'self': item.senderId === currentUserId}" class="message">
              <div class="message-wrap">

                <div>
                  <div class="message-item">
                    <div class="message-content" [ngClass]="{'msg-content': item.senderId === currentUserId}">
                      <span>{{ item.messageContent }}</span>
                    </div>
                  </div>
                </div>

                <div *ngFor="let i of conversation.lsMessage">
                  <div *ngIf="i.groupId !== 0 && i.groupId === item.messageId" class="message-item">
                    <div class="message-content">
                      <span>{{ i.messageContent }}</span>
                    </div>
                  </div>

                </div>
              </div>

              <!-- <div *ngIf="item.SenderId !== currentUserId"> -->
              <div>
                <div class="message-info">
                  <div class="avatar avatar-sm">
                    <span class="avatar-label bg-soft-primary text-primary fs-6">{{ item.senderId }}</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Message item -->
        </div>
        <!-- Messages -->
      </div>
    </div>
    <!-- Chat Content -->
    <!-- Chat Footer -->
    <div *ngIf="prepareMessage" class="type-indicator">
      <span></span>
      <span></span>
      <span></span>
    </div>
    <div class="chat-footer d-flex align-items-center border-top px-2">
      <div class="container-fluid">
        <div class="row align-items-center g-4">
          <!-- Input -->
          <div class="col">
            <div class="input-group">
              <button class="btn btn-white btn-lg border"><i class="ri-attachment-2"></i></button>
              <input [(ngModel)]="messageContent" (keyup.enter)="sendMessage()" type="text" (focus)="onFocus(true)"
                (blur)="onFocus(false)" class="form-control form-control-lg" placeholder="Nhập tin nhắn...">
            </div>
          </div>
          <!-- Input -->
          <!-- Button -->
          <div class="col-auto">
            <button (click)="sendMessage()" class="btn btn-icon btn-primary btn-lg rounded-circle">
              <i class="ri-send-plane-fill"></i>
            </button>
          </div>
          <!-- Button -->
        </div>
      </div>
    </div>
    <!-- Chat Footer -->
  </div>
  <!-- Chat -->
</div>
