<!-- Tab Content -->
<div class="m-4">
  <div>
    <!-- Letter -->
    <!--  Friends List -->
    <ul class="list-unstyled">
      <!-- Chat Link 1 -->
      <li *ngFor="let item of searchResult; let item_index = index" class="card contact-item mb-3">
        <div class="card-body">
          <div class="d-flex align-items-center">

            <!-- Avatar -->
            <div class="avatar avatar-online me-4">
              <span class="avatar-label bg-info text-white">DR</span>
            </div>
            <!-- Avatar -->
            <!-- Content -->
            <div class="flex-grow-1 overflow-hidden">
              <div class="d-flex align-items-center mb-1">
                <h5 class="text-truncate mb-0 me-auto">
                  {{ item.FULL_NAME }}
                </h5>
              </div>
              <div class="d-flex align-items-center">
                <div class="text-truncate me-auto">{{ item.EMAIL }}</div>
              </div>
            </div>
            <!-- Content -->
            <!-- Dropdown -->
            <div [ngSwitch]="true">

              <!--Nút xác nhận kết bạn-->
              <div *ngSwitchCase="true && item.StateCode===state.WaitingConfirm && !item.IsSendRequest">
                <span (click)="ManageFriendship(item_index, item.FriendShipId, action.ACCEPT)"
                  class="badge badge-soft-success custom-btn">Đồng ý</span>
                <span (click)="ManageFriendship(item_index, item.FriendShipId, action.REJECT)"
                  class="badge badge-circle badge-soft-dark align-middle custom-btn">
                  <i class="ri-close-fill"></i>
                </span>
              </div>

              <!--Nút hủy yêu cầu kết bạn-->
              <div *ngSwitchCase="item.StateCode===state.WaitingConfirm && item.IsSendRequest"
                (click)="ManageFriendship(item_index, item.FriendShipId, action.CANCEL)">
                <span class="badge badge-circle bg-success align-middle">
                  <i class="ri-user-unfollow-line"></i>
                </span>
              </div>

              <!--Nút trạng thái bạn bè-->
              <div *ngSwitchCase="item.StateCode===state.Accept">
                <span class="badge badge-soft-success custom-btn">Bạn bè</span>
              </div>

              <!--Nút thêm bạn bè-->
              <div *ngSwitchDefault (click)="MakeFriend(item_index, item.PK_USER_ID)">
                <span class="badge badge-circle bg-danger align-middle btn-accept">
                  <i class="ri-user-add-line"></i>
                </span>
              </div>
            </div>
            <!-- Dropdown -->

          </div>
        </div>
      </li>
      <!-- Chat Link 1 -->

    </ul>
    <!--  Friends List -->
  </div>
</div>
<!-- Tab Content -->
