<div class="container-fluid g-0 p-4">
  <div *ngFor="let item of conversation.lsMessage let index = index" #item>

    <!-- Date -->
    <div *ngIf="index === 0; else notFirstItem">
      <div *ngIf="utils.isToday(item.createdDate); else elseBlock">
        <div class="separator">
          <span class="separator-title fs-7 ls-1">Hôm nay</span>
        </div>
      </div>
      <ng-template #elseBlock>
        <div class="separator">
          <span class="separator-title fs-7 ls-1">{{ item.createdDate | date: 'dd/MM/yyyy'}}</span>
        </div>
      </ng-template>
    </div>
    <ng-template #notFirstItem>
      <div *ngIf="!utils.compareDate(item.createdDate, conversation.lsMessage[index-1].createdDate)
                  && utils.isToday(item.createdDate)" class="separator">
        <span class="separator-title fs-7 ls-1">Hôm nay</span>
      </div>
      <div *ngIf="!utils.compareDate(item.createdDate, conversation.lsMessage[index-1].createdDate)
                  && !utils.isToday(item.createdDate)" class="separator">
        <span class="separator-title fs-7 ls-1">{{ item.createdDate | date: 'dd/MM/yyyy'}}</span>
      </div>
    </ng-template>
    <!-- Date -->

    <!-- Message -->
    <div *ngIf="item.groupId === 0">
      <div [ngClass]="{'self': item.senderId === currentUserId}" class="message">
        <div class="message-wrap">

          <div>
            <div class="message-item">
              <div class="message-content" [ngClass]="{'msg-content': item.senderId === currentUserId}">
                <span>{{ item.messageContent }}</span>
              </div>
            </div>
          </div>

          <div *ngFor="let i of conversation.lsMessage">
            <div *ngIf="i.groupId !== 0 && i.groupId === item.messageId" class="message-item">
              <div class="message-content">
                <span>{{ i.messageContent }}</span>
              </div>
            </div>
          </div>
        </div>

        <div *ngIf="item.senderId !== currentUserId">
          <div>
            <div class="message-info">
              <div class="avatar avatar-sm">
                <span class="avatar-label bg-soft-primary text-primary fs-6">{{ item.senderId }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Message -->

    </div>
  </div>
</div>